<label for="event">Saison</label>
<select class="form-control" id="season" data-bind="options: seasons, value: selectedSeason, event: { change: loadEvents }"></select>

<label for="event">Event:</label>
<select class="form-control" id="event" data-bind="options: events, optionsText: 'eventName', value: selectedEvent, event: { change: loadRaces }"></select>

<label for="event">Lauf:</label>
<select class="form-control" id="race" data-bind="options: races, optionsText: 'raceName', value: selectedRace, event: { change: loadResultHeats }"></select>

<hr/>
<h2 data-bind="text: viewModel.eventTitle()"></h2>