{{> navigation}}
<div class="container">
	<h2>&Uuml;ber uns</h2>
	<div class="jumbotron">
		<p>
			Den DSSC e.V. (Deutsches Scooter Sprint Comitee) gibt es seit 2004. Von Jahr zu Jahr können wir steigende Teilnehmerzahlen verzeichnen und sehen, wie sich die Veranstaltungen zu einem festen Bestandteil der Scootertuning-Szene entwickelt haben. So trifft man sich heute nicht mehr nur zum Sprinten über die Strecke, sondern bringt teilweise die ganze Familie oder ein Auto voller Freunde mit. Es wird im Fahrerlager gegrillt, zusammengesessen und gemeinsam gefeiert. Neben dem Spaß abseits der Strecke kommt man sich auch auf der Strecke immer näher. So konnten wir in der vergangenen Saison beispielsweise in den Sprinter-Klassen sehen, wie die Topfahrer der Sport-, MidRace- und Racing-Klasse annähernd gleiche Zeiten fuhren. Außerdem konnten wir in der letzten Saison gleich zwei Mal auf der professionellen Dragracing-Strecke in Luckau an den Start gehen. Zum Finale nach dem Scooter-Weekend nahmen viele eingeschriebene Fahrer die weite Reise nach Brandenburg auf sich, um sich bis in die Dunkelheit über 150 Meter sowie über die kurzfristig eingerichtete 50-Meter-Distanz zu messen.

			Für die kommende 2010er-Saison haben wir uns mit den Erkenntnissen aus den vergangenen Jahren und vor allem aus 2009 auseinandergesetzt. Dabei wurde die Sportordnung angepasst und auf die Zukunft des jungen Dragracings ausgerichtet. So wurden zum Beispiel die Klassen komplett neu aufgestellt. Zum einen haben wir griffige Klassenbezeichnungen eingeführt, zum anderen wurden neue Klassen für Gaststarter und Einsteiger aufgestellt und bereits existierende zusammengelegt und für professionelle Starter attraktiver gestaltet. Um unsere Serie auch anderen Fahrzeugen zu öffnen, haben wir zudem eine Mofa-Klasse eingerichtet sowie eine Klasse für Roller vor Baujahr 1990 und eine für Schaltfahrzeuge. Wir hoffen, damit mehrere benachbarte Szenen zu einer gesamten aufbauen zu können.

			Neben der Neuordnung der Klassen haben wir auch die Sicherheitsbestimmungen für Fahrer und Fahrzeug überarbeitet. Mit der Weiterentwicklung der Tuningteile und dem wachsenden Know-how der Teams und Starter werden auch die Geschwindigkeiten immer höher. Um diese Entwicklung nicht technisch einzubremsen, haben wir uns entschlossen, für eingeschriebene Fahrer u. a. die Pflicht zur Motorradbekleidung (z. B. Lederkombi) einzuführen.

			Da es in Deutschland aufgrund der Gesetzeslage und Beschwerden von Anwohnern immer schwieriger wird, geeignete Locations genehmigt zu bekommen, werden wir 2010 mehrere Veranstaltungen über die Shorttrack-Distanz von 50 Metern neben der regulären 150-Meter-Distanz durchführen. Der Test über 50 Meter in Luckau brachte uns die Erkenntnis, dass über diese Distanz mindestens genauso spannende Läufe erwartet werden können, wie wir sie bisher zu sehen bekamen.
		</p>
	</div>
</div>
