{{> navigation}}

<div class="container">
	<h2>Meine Daten</h2>
	<div style="float:left; margin-right: 20px;">
		<img src="/api/image" alt="Fahrerbild">
	</div>
	<div style="float:left;" data-bind="with: driver">
		<form >
			<label for="first">Vorname</label>
			<input type="text" id="first" class="form-control" data-bind="enable: false, value: driverFirstName">
			<label for="last">Nachname</label>
			<input type="text" id="last" class="form-control" data-bind="enable: false, value: driverLastName">
			<label for="team">Team</label>
			<input type="text" id="team" class="form-control" data-bind="enable: false, value: teamName">
			<label for="mail">E-Mail</label>
			<input type="text" id="mail" class="form-control" data-bind="enable: false, value: driverMail">
		</form>
		<hr/>
		<button class="btn btn-default" data-bind="">Aktualisieren</button>
	</div>

</div>
<script src="js/account.js" type="text/javascript"></script>