{{> navigation}}

<div class="container">
	<h2>Klassen</h2>
	<div class="jumbotron">

		<h2>Klassen&nbsp;2013</h2>
		<p>
			Die Lenkerhöhe hat für alle Rollerklassen mindestens 750mm zu betragen; sie wird an der Unterseite des Lenkergriffes gemessen. Ist der Lenkergriff nicht waagerecht angebracht, wird am tiefsten Punkt des Griffes gemessen. Ist kein Griff vorhanden, zählt der niedrigste Punkt (Unterseite) des Lenkers im Griffbereich.</p>
		<p>
			Zur eindeutigen Identifizierung dürfen Zylinder äußerlich nicht verändert werden. Von Werk aus angebrachte Seriennummern, Schriftzüge, Logos etc. müssen vollständig erhalten bleiben und dürfen weder entfernt, lackiert oder überfräst noch mit Strahlgut oder Ähnlichem behandelt werden. Ausschließlich auf freien Flächen dürfen Fräsungen angebracht werden.
		</p>
		<p>
			Abgeänderte Zylinder, Prototypen, Eigenbauten, Konversionen etc. müssen von der technischen Abnahme abgenommen werden.
		</p>

		<h2><span>Zeitindex Sportsclass:</span></h2>
		<p>Es wird gegen einen Zeitindex von 8,2000 Sekunden gefahren.</p>
		<h2><span>Zeitindex Racingclass:</span></h2>
		<p>Es wird gegen einen Zeitindex von 8,0000 Sekunden gefahren.</p>
		<h2><span>Zeitindex Superclass:</span></h2>
		<p>Es wird gegen einen Zeitindex von 7,6000 Sekunden gefahren.</p>
		<p>
			Sollte ein Zeitindex unterboten werden, so ist dieser Lauf ungültig und wird als Fehlversuch gewertet.
			Hilfsgeräte, die aktiv die Fahrzeit beeinflussen (z.B. Drehzahlbegrenzer) sind nicht zulässig.
			Passive Geräte (z.B. Drehzahlmesser) sind zulässig.</p>

		<p>Die Nennung in Expert-Klassen erfolgt freiwillig.<br>
			Ein Klassenwechsel im Laufe der Saison ist möglich, allerdings ohne einen Punkteübertrag.</p>

		<p></p><h2><span>Regelungen für Sportsclass-Expert, Racingclass-Expert, Superclass-Expert und Topclass:</span></h2><p></p>
		<p>
			1. Die vollständige Originalverkleidung (oder ein optisch identischer Nachbau der Originalverkleidung) muss montiert sein.<br>
			2. Kein Beschneiden (Cutten) der Verkleidungen.<br>
			3. Ausschnitte in Verkleidungsteilen sind nur dort zugelassen, wo andere Bauteile physisch im Weg sind bzw. die Freigängigkeit für Vorder- und Hinterrad geschaffen werden muss.<br>
			4. Belüftungs- und Erleichterungslöcher dürfen einen maximalen Durchmesser von 30mm nicht überschreiten und dürfen die Stabilität der Verkleidung nicht wesentlich beeinflussen; größere Freiformausschnitte aus der Verkleidung sind nicht gestattet.<br>
			5. Wird nicht die Original-Verkleidung verwendet, bzw. werden Verkleidungen gemischt, muss die verwendete Verkleidung die gleichen Rahmen-/Fahrwerksteile wie die Originalverkleidung vollständig abdecken.<br>
			6. Verkleidungen dürfen in der Breite, wenn formschlüssig, verbreitert oder verschmälert werden, wenn dies dem Sinne der allgemein gültigen Sportordnung gerecht wird.<br>
			7. Die Verkleidung muss fest am Fahrzeug montiert sein.<br>
			8. Die Lichtanlage (Scheinwerfer, Rücklicht und Blinker), Spritzschutz und Kotflügel, Heckdurchgänge oder Kleinstbauteile wie Batteriefachabdeckungen dürfen entfernt werden.<br>
			9. Der Lenker ist nicht verkleidungspflichtig.<br>
			10. Als Verkleidungsteil wird das angesehen, das dem originalen Verkleidungsteil in Form und Beschaffenheit entspricht.<br>
		</p>

		<ul class="dr-list rich-datalist " id="racingclasses">
			<li id="racingclasses:0" class="dr-list-item rich-list-item ">
				<h2><span>USC-Funclass</span></h2>
				<span class="desc">Roller mit CVT-Antrieb bis Bj. 1990 und max. 80 ccm, zeitgenössisches Erscheinungsbild und Tuning. Es ist der original verbaute Motor zu verwenden. Keine Conversions und Fremdmotoren erlaubt.</span></li>
			<li id="racingclasses:1" class="dr-list-item rich-list-item ">
				<h2><span>Clubsport</span></h2>
				<span class="desc">Sie bildet die Klasse für Tagesfahrer. Ein Start ist nur zweimal im Jahr möglich. Genutzt wird diese Klasse als Einstieg und für die Gäste des DSSC e. V. Es handelt sich um eine offene Klasse mit Sicherheitsabnahme.</span></li>
			<li id="racingclasses:2" class="dr-list-item rich-list-item ">
				<h2><span>Sportsclass</span></h2>
				<span class="desc">Sport-Zylinder bis 70 ccm, keine Aufladung, Einzylinder, 1-teiliger Auslass<br><b>C.E Sportsclass - Expert</b><br></span></li>
			<li id="racingclasses:3" class="dr-list-item rich-list-item ">
				<h2><span>Racingclass</span></h2>
				<span class="desc">MidRace-Zylinder bis 70 ccm, keine Aufladung, Einzylinder, 2- oder mehrgeteilter Auslass<br>
					<b>D.E Racingclassclass - Expert</b><br></span></li>
			<li id="racingclasses:4" class="dr-list-item rich-list-item ">
				<h2><span>Superclass</span></h2>
				<span class="desc">HighEnd-Zylinder bis 70 ccm, keine Aufladung, Einzylinder<br>
					<b>E.E Superclass - Expert</b><br></span></li>
			<li id="racingclasses:5" class="dr-list-item rich-list-item ">
				<h2><span>Topclass</span></h2>
				<span class="desc">Einzylinder bis 95 ccm, keine Aufladung</span></li>
			<li id="racingclasses:6" class="dr-list-item rich-list-item ">
				<h2><span>Superclass-Sprinter</span></h2>
				<span class="desc">Ohne Aufladung, Einzylinder bis 70 ccm</span></li>
			<li id="racingclasses:7" class="dr-list-item rich-list-item ">
				<h2><span>Topclass-Sprinter</span></h2>
				<span class="desc">Ohne Aufladung, Einzylinder bis 95 ccm</span></li>
			<li id="racingclasses:8" class="dr-list-item rich-list-item ">
				<h2><span>Outlaw</span></h2>
				<span class="desc">Aufladung erlaubt, unbegrenzt, inkl. aller Mehrzylinder; das Fahrzeug muss in Optik oder Technik einem Roller entsprechen. Es gilt insbesondere der Ausschlussvorbehalt der Rennleitung §16 der Sportordnung.</span></li>
			<li id="racingclasses:9" class="dr-list-item rich-list-item ">
				<h2><span>Maxiscooter</span></h2>
				<span class="desc">Unbegrenzt, Grundmotor ab 100 ccm, keine Mehrzylinder, keine Aufladung</span></li>
			<li id="racingclasses:10" class="dr-list-item rich-list-item ">
				<h2><span>4-Takt</span></h2>
				<span class="desc">Bis 100 ccm, alles Weitere in Maxiscooter</span></li>
			<li id="racingclasses:11" class="dr-list-item rich-list-item ">
				<h2><span>Shifterclass</span></h2>
				<span class="desc">Mopeds/Mokicks bis 110 ccm / Schaltroller bis 250 ccm, Aufladung und Conversions erlaubt</span></li>
			<li id="racingclasses:12" class="dr-list-item rich-list-item ">
				<h2><span>Mofaclass</span></h2>
				<span class="desc">Auf Basis von 25km/h-Mofa, unbegrenzt, Aufladung und Conversions erlaubt</span></li>
		</ul>



		<h2>Zylinder-<span>Einteilung</span></h2>
		<p>Nicht aufgeführte Zylinder sind bei der technischen Abnahme zu erfragen und unter Umständen durch Demontage prüfen zu lassen.</p>
		<ul class="cylindertypes">
			<li>
				<h3>Sportsclass</h3>
				<ul>
					<li>2Extreme Standard 50ccm</li>
					<li>2Extreme Alu 50ccm</li>
					<li>2Extreme Sport 70ccm</li>
					<li>Airsal Sport 50ccm</li>
					<li>BARIKIT 50ccm</li>
					<li>BGM Original 50ccm</li>
					<li>DR Evolution 50ccm</li>
					<li>DR Evolution 70ccm</li>
					<li>Hebo Grauguss 70ccm</li>
					<li>Malossi Sport 50ccm</li>
					<li>Malossi Sport 70ccm</li>
					<li>Metrakit MK Series 50ccm</li>
					<li>Metrakit Handmade 70ccm</li>
					<li>Motoforce Aluminium 50ccm</li>
					<li>Motoforce Ersatz 50ccm</li>
					<li>Motoforce Ersatz 'Made in China' 50ccm</li>
					<li>Motoforce Plus 50ccm</li>
					<li>Polini Sport 50ccm</li>
					<li>Polini Sport 70ccm</li>
					<li>Pinasco TForce Grauguss 70ccm</li>
					<li>RMS Blue Line 70ccm</li>
					<li>RMS Ersatz 50ccm</li>
					<li>SCEED 42 50ccm</li>
					<li>Stage6 Streetrace 70ccm</li>
					<li>Stage6 Sport PRO 70ccm</li>
					<li>Stage6 Sport PRO MKII 70ccm</li>
					<li>R-Setup Sport 70ccm</li>
					<li>Top Performances Trophy 50ccm</li>
					<li>Top Performances Trophy 70ccm</li>
				</ul>
			</li>
			<li>
				<h3>Racingclass</h3>
				<ul>
					<li>Airsal Racing 50ccm</li>
					<li>Airsal Racing 70ccm</li>
					<li>Airsal T6 50ccm</li>
					<li>Airsal T6 70ccm</li>
					<li>Athena Racing 70ccm</li>
					<li>Italkit Alu 50ccm</li>
					<li>Italkit Alu 70ccm</li>
					<li>Italkit Eco 70ccm</li>
					<li>Italkit Bi-Metal 70ccm</li>
					<li>Hebo Alu-Racing 70ccm</li>
					<li>Hebo Manston Replica 70ccm</li>
					<li>Malossi MHR Replica 70ccm</li>
					<li>Metrakit SP II 70ccm</li>
					<li>Motoforce Racing 70ccm</li>
					<li>PM X-Tech Alu 70ccm</li>
					<li>Pinasco TForce 70ccm</li>
					<li>Polini Alu 70ccm</li>
					<li>Polini Corsa 70ccm</li>
					<li>Stage6 Alu 50ccm</li>
					<li>Stage6 RACING Modular 70ccm</li>
					<li>Stage6 RACING 70ccm</li>
					<li>Stage6 RACING MKII 70ccm</li>
					<li>Top Performances Racing 70ccm</li>
					<li>Top Performances Due-Plus 70ccm</li>
					<li>Top Performances TPR 70ccm</li>
				</ul>
			</li>
			<li>
				<h3>Superclass</h3>
				<ul>
					<li>Hebo Manston Racing 50ccm</li>
					<li>Hebo Manston Revolution 70ccm</li>
					<li>Hebo Manston Revolution Patanegra 70ccm</li>
					<li>Hebo Manston Racing I 70ccm</li>
					<li>Hebo Manston Racing II 70ccm</li>
					<li>Malossi MHR Racing 70ccm</li>
					<li>Malossi MHR Team 50ccm</li>
					<li>Malossi MHR Team I 70ccm</li>
					<li>Malossi MHR Team II 70ccm</li>
					<li>Malossi MHR Team Replica 70ccm</li>
					<li>Metrakit Pro Race II 70ccm</li>
					<li>Parmakit Race one 70ccm</li>
					<li>Polini Evolution 50ccm</li>
					<li>Polini Evolution I 70ccm</li>
					<li>Polini Evolution II 70ccm</li>
					<li>Polini Evolution III 70ccm</li>
					<li>Stage6 R/T 70ccm</li>
					<li>R-Setup Racing 70ccm</li>
				</ul>
			</li>
			<li>
				<h3>Topclass</h3>
				<ul>
					<li>2FAST 80ccm</li>
					<li>2FAST 86ccm</li>
					<li>Airsal Racing X-treme 77ccm</li>
					<li>Airsal Racing X-treme 88ccm</li>
					<li>Cristofolini Racing TCR 80ccm</li>
					<li>Cristofolini Racing TCR 88ccm</li>
					<li>Italkit Speed 75ccm</li>
					<li>Malossi MHR Team Big Bore 77ccm</li>
					<li>Malossi MHR Team Big Bore 86ccm</li>
					<li>Parmakit Race 80ccm</li>
					<li>Parmakit GP1 87ccm</li>
					<li>Polini Big Evolution 94ccm</li>
					<li>Stage6 R/T Bigbore 95ccm</li>
				</ul>
			</li>
		</ul>
		<div class="clear"></div>
    </div>
</div>