{{> navigation}}

<div class="container">
	<h2>Media</h2>
	<div class="jumbotron">












		<h2>Downloads</h2>
		<ul class="pressdownloads">

			<li>
				<p class="title">Zeitplan 3. DSSC-Lauf 2014 Aldenhoven<span>(File: dssc_ZeitplanFTLAldenhoven2014.pdf - 74 KB)</span></p>
				<p class="description">Hier könnt ihr den Zeitplan für das dritte Rennen runterladen.</p>
				<a href="http://cms.dssc.de/media_files/dssc_ZeitplanFTLAldenhoven2014.pdf" class="downloadbutton">Download</a> 
			</li>
			<li>
				<p class="title">Zeitplan 1. DSSC-Lauf 2014 Meinerzhagen<span>(File: DSSC_Zeitplan_Meinerzhagen_2014.pdf - 73 KB)</span></p>
				<p class="description">Der Zeitplan für das erste Rennen in Meinerzhagen zum Download.</p>
				<a href="http://cms.dssc.de/media_files/DSSC_Zeitplan_Meinerzhagen_2014.pdf" class="downloadbutton">Download</a> 
			</li>
			<li>
				<p class="title">Trainingszeiten Donnerstag GRW Eisenach<span>(File: Training_Donnerstag_GRW_2013.pdf - 2,6MB)</span></p>
				<p class="description">Die Trainingszeiten vom GRW in Eisenach am Donnerstag zum Download.</p>
				<a href="http://cms.dssc.de/media_files/Training_Donnerstag_GRW_2013.pdf" class="downloadbutton">Download</a> 
			</li>
			<li>
				<p class="title">Trainingszeiten Freitag GRW Eisenach<span>(File: Training_Freitag_GRW_2013.pdf - 5,6MB)</span></p>
				<p class="description">Die Trainingszeiten vom GRW in Eisenach am Freitag zum Download.</p>
				<a href="http://cms.dssc.de/media_files/Training_Freitag_GRW_2013.pdf" class="downloadbutton">Download</a> 
			</li>
			<li>
				<p class="title">Zeitplan 3. Lauf 2013 Aldenhoven<span>(File: dssc_Zeitplan_FTL_Aldenhoven_2013.pdf - 30KB)</span></p>
				<p class="description">Hier könnt ihr den Zeitplan für den 3. Lauf in Aldenhoven runterladen.</p>
				<a href="http://cms.dssc.de/media_files/dssc_Zeitplan_FTL_Aldenhoven_2013.pdf" class="downloadbutton">Download</a> 
			</li>
			<li>
				<p class="title">Zeitplan 2. Lauf 2013 German Race Wars in Eisenach<span>(File: dssc_Zeitplan_Eisenach_2013.pdf - 71KB)</span></p>
				<p class="description">Hier ist der Zeitplan des Laufes bei den German Race Wars zum Runterladen.</p>
				<a href="http://cms.dssc.de/media_files/dssc_Zeitplan_Eisenach_2013.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Zeitplan 1. Lauf 2013 in Saarbrücken<span>(File: dssc_Zeitplan_Saarbrücken_2013.pdf - 116KB)</span></p>
				<p class="description">Hier könnt ihr den Zeitplan für das Eröffnungsrennen in Saarbrücken runterladen.</p>
				<a href="http://cms.dssc.de/media_files/dssc_Zeitplan_Saarbrücken_2013.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Sportordnung 2013<span>(File: Sportordnung_2013.pdf)</span></p>
				<p class="description">Die neue Sportordnung für 2013.</p>
				<a href="http://cms.dssc.de/media_files/Sportordnung_2013.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Technische Abnahme 2013<span>(Datei: Technische_Abnahme_DSSC_e.V._2013.pdf - 55KB)</span></p>
				<p class="description">Prüfbogen für die technische Abnahme für die Saison 2013 als PDF zum Ausdrucken</p>
				<a href="http://cms.dssc.de/media_files/Technische_Abnahme_DSSC_e.V._2013.pdf" class="downloadbutton">Download</a> 
			</li>
			<li>
				<p class="title">Klassenübergreifende Rangliste Sport1 Trackday<span>(File: Sport1_Trackday.pdf)</span></p>
				<p class="description">Hier gibt es die Rangliste vom Sport1 Trackday in Oschersleben am 8.9.2012.</p>
				<a href="http://cms.dssc.de/media_files/Sport1_Trackday.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Zeitplan 7. DSSC-Lauf (Samstag, 15.9.2012)<span>(File: dssc_Zeitplan_Mengen_2012.pdf)</span></p>
				<p class="description">Hier könnt Ihr den Zeitplan für das DSSC-Finale in Mengen runterladen.</p>
				<a href="http://cms.dssc.de/media_files/dssc_Zeitplan_Mengen_2012.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Zeitplan 6. DSSC-Lauf (Samstag, 18.8.2012)<span>(File: DSSC_Zeitplan_Saarbrücken2_Samstag_2012.pdf)</span></p>
				<p class="description">Hier könnt Ihr den Zeitplan für das freie Sprinten zum 6. DSSC-Lauf am Samstag in Saarbrücken runterladen.</p>
				<a href="http://cms.dssc.de/media_files/DSSC_Zeitplan_Saarbrücken2_Samstag_2012.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Zeitplan 6. DSSC-Lauf (Sonntag, 19.8.2012)<span>(File: DSSC_Zeitplan_Saarbrücken2_Sonntag_2012.pdf)</span></p>
				<p class="description">Hier der Zeitplan für die Wertungsläufe des 6. DSSC-Laufs am Sonntag in Saarbrücken.</p>
				<a href="http://cms.dssc.de/media_files/DSSC_Zeitplan_Saarbrücken2_Sonntag_2012.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Scooter-Weekend Freies Fahren<span>(File: sawe2012.pdf)</span></p>
				<p class="description">Die Ergebnisse des freien Fahrens auf dem Scooter-Weekend zum Runterladen.</p>
				<a href="http://cms.dssc.de/media_files/sawe2012.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Ergänzung zur Sportordnung<span>(File: Ergaenzung_Sportordnung_2012.pdf)</span></p>
				<p class="description">Hier die im Juni 2012 beschlossenen Ergänzungen zur Sportordnung als PDF.</p>
				<a href="http://cms.dssc.de/media_files/Ergaenzung_Sportordnung_2012.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Zeitplan 3. Lauf FTL Aldenhoven<span>(File: dssc_ZeitplanFTLAldenhoven2012.pdf)</span></p>
				<p class="description">Hier könnt ihr euch den Zeitplan für den Lauf in Aldenhoven runterladen.</p>
				<a href="http://cms.dssc.de/media_files/dssc_ZeitplanFTLAldenhoven2012.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Trainingsergebnisse Donnerstag (2. Lauf Eisenach)<span>(File: Training_Donnerstag.pdf)</span></p>
				<p class="description">Hier könnt ihr die Trainingsergebnisse vom Donnerstag runterladen</p>
				<a href="http://cms.dssc.de/media_files/Training_Donnerstag.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Trainingsergebnisse Freitag (2. Lauf Eisenach)<span>(File: Training_Freitag.pdf)</span></p>
				<p class="description">Hier könnt ihr die Trainingsergebnisse vom Freitag runterladen</p>
				<a href="http://cms.dssc.de/media_files/Training_Freitag.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Trainingsergebnisse Samstag (2. Lauf Eisenach)<span>(File: Training_Samstag.pdf)</span></p>
				<p class="description">Hier könnt ihr die Trainingsergebnisse vom Samstag runterladen</p>
				<a href="http://cms.dssc.de/media_files/Training_Samstag.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Trainingsergebnisse Sonntag (2. Lauf Eisenach)<span>(File: Training_Sonntag.pdf)</span></p>
				<p class="description">Hier könnt ihr die Trainingsergebnisse vom Sonntag runterladen</p>
				<a href="http://cms.dssc.de/media_files/Training_Sonntag.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Shootouts (2. Lauf Eisenach)<span>(File: Shootouts.pdf)</span></p>
				<p class="description">Hier könnt ihr die Ergebnisse des Shootouts vom Samstag runterladen</p>
				<a href="http://cms.dssc.de/media_files/Shootouts.pdf" class="downloadbutton">Download</a>
			</li>
			<li>
				<p class="title">Zeitplan 1. Lauf 2012 in Saarbrücken<span>(File: dssc_ZeitplanSaarbrücken2012.pdf - 90KB)</span></p>
				<p class="description">Hier könnt ihr den Zeitplan für das Eröffnungsrennen in Saarbrücken runterladen.</p>
				<a href="http://cms.dssc.de/media_files/dssc_ZeitplanSaarbrücken2012.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">DSSC Regulations (English)<span>(File: DSSC_Sportordnung_2012_EN.pdf - 226KB)</span></p>
				<p class="description">The English version of the DSSC Regulations for 2012, as PDF for download.</p>
				<a href="http://cms.dssc.de/media_files/DSSC_Sportordnung_2012_EN.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Sportordnung mit Markierungen (Deutsch)<span>(Datei: DSSC_Sportordnung_2012_DE_mit_hervorgehobenen_Neuerungen.pdf - 225KB)</span></p>
				<p class="description">Die deutsche Sportordnung für 2012 als PDF zum Downloaden; mit markierten Änderungen.</p>
				<a href="http://cms.dssc.de/media_files/DSSC_Sportordnung_2012_DE_mit_hervorgehobenen_Neuerungen.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Sportordnung (Deutsch)<span>(Datei: DSSC_Sportordnung_2012_DE.pdf - 219KB)</span></p>
				<p class="description">Die deutsche Sportordnung für 2012 als PDF zum Downloaden.</p>
				<a href="http://cms.dssc.de/media_files/DSSC_Sportordnung_2012_DE.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Verzichtserklärung (Deutsch)<span>(Datei: DSSC_Verzichtserklaerung_DE.pdf - 813KB)</span></p>
				<p class="description">Die deutsche Verzichtserklärung als PDF zum Downloaden und Ausdrucken</p>
				<a href="http://cms.dssc.de/media_files/DSSC_Verzichtserklaerung_DE.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Zeitplan 6. DSSC-Lauf 2011 (17.09.2011, Scooter-Weekend)<span>&nbsp;(Datei: dssc_Zeitplan Scooter-Weekend 2011.pdf - 90 KB)</span></p>
				<p class="description">Der Zeitplan für den 6. DSSC-Lauf auf dem Nürburgring (Scooter-Weekend)</p>
				<a href="http://cms.dssc.de/media_files/dssc_Zeitplan_Scooter-Weekend_2011.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Zeitplan 5. DSSC-Lauf 2011 (21.08.2011)<span>&nbsp;(Datei: dssc_Zeitplan Sittard 2011.pdf - 89 KB)</span></p>
				<p class="description">Der Zeitplan für den 5. DSSC-Lauf im niederländischen Sittard</p>
				<a href="http://cms.dssc.de/media_files/dssc_Zeitplan Sittard 2011.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Zeitplan 4. DSSC-Lauf 2011 (23.07.2011)<span>&nbsp;(Datei: dssc_Zeitplan FTL Aldenhoven 2011.pdf - 74 KB)</span></p>
				<p class="description">Der Zeitplan für den 4. DSSC-Lauf in Aldenhoven</p>
				<a href="http://cms.dssc.de/media_files/dssc_Zeitplan FTL Aldenhoven 2011.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Zeitplan Scooter Season Break 2011 (10./11.06.2011)<span>&nbsp;(Datei: Zeitplan Scooter Season Break 2011 (2).pdf - 123 KB)</span></p>
				<p class="description">Der Zeitplan für den Scooter Season Break in Meinerzhagen</p>
				<a href="http://cms.dssc.de/media_files/Zeitplan Scooter Season Break 2011 (2).pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Zeitplan 3. DSSC-Lauf beim Scooter Season Break 2011<span>&nbsp;(Datei: Zeitplan 3. DSSC Lauf Scooter Season Break 2011 Meinerzhagen.pdf - 94 KB)</span></p>
				<p class="description">Der Zeitplan für den 3. DSSC-Lauf beim Scooter Season Break in Meinerzhagen</p>
				<a href="http://cms.dssc.de/media_files/Zeitplan 3. DSSC Lauf Scooter Season Break 2011 Meinerzhagen.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Verzichtserklärung 3. DSSC-Lauf beim Scooter Season Break 2011<span>&nbsp;(Datei: Verzichtserklaerung_2011_MZH.pdf - 12 KB)</span></p>
				<p class="description">Die Verzichtserklärung für den 3. DSSC-Lauf beim Scooter Season Break in Meinerzhagen</p>
				<a href="http://cms.dssc.de/media_files/Verzichtserklaerung_2011_MZH.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Zeitplan 19.–21.5.2011 GRW<span>&nbsp;(Datei: dssc_Zeitplan grw 2011.doc - 88 KB)</span></p>
				<p class="description">Der Zeitplan für den 2. Lauf der Saison 2011 bei den German Race Wars</p>
				<a href="http://cms.dssc.de/media_files/dssc_Zeitplan grw 2011.doc" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Zeitplan Lauf 16.4.2011 in Saarbrücken<span> (Datei: DSSC_ZeitplanSaarbrücken2011.pdf - 94 KB)</span></p>
				<p class="description">Der Zeitplan für den 1. Lauf der Saison 2011 in Saarbrücken</p>
				<a href="http://cms.dssc.de/media_files/DSSC_ZeitplanSaarbrücken2011.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Déroulement du 1er run DSSC<span> (Datei: dssc_ZeitplanSaarbrücken2011_fr.pdf - 94 KB)</span></p>
				<p class="description">Le déroulement du 1er run DSSC 2011 en Saarebruck</p>
				<a href="http://cms.dssc.de/media_files/dssc_ZeitplanSaarbrücken2011_fr.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">DSSC-Programm 2011<span>(Datei: dssc-prog-2011-gr.jpg - 324KB)</span></p>
				<p class="description">Das Programm für die Saison 2011</p>
				<a href="http://cms.dssc.de/media_files/dssc-prog-2011-gr.jpg" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Technische Abnahme 2011<span>(Datei: Technische Abnahme DSSC e.V. 2011.pdf - 83KB)</span></p>
				<p class="description">Prüfbogen für die technische Abnahme für die Saison 2011 als PDF zum Ausdrucken</p>
				<a href="http://cms.dssc.de/media_files/Technische Abnahme DSSC e.V. 2011.pdf" class="downloadbutton">Download</a> </li>
			<li>
				<p class="title">Klarstellung DSSC e.V. Saison 2010<span>(Datei: Klarstellung DSSC e.V. Saison 2010)</span></p>
				<p class="description">Klarstellung DSSC e.V. Saison 2010</p>
				<a href="http://cms.dssc.de/media_files/DSSCKlarstellung2010.pdf" class="downloadbutton">Download</a> </li>
		</ul>


    </div>
</div>