{{> navigation}}

<div class="container">
	<h2>News</h2>
	<div class="jumbotron">

		<ul >

			<li>
				<h3>Zeitplan 3. DSSC Lauf Aldenhoven</h3>
				<p class="date">07.06.2014 / 05:20 Uhr</p>
				<img class="newsimage" width="200" src="http://cms.dssc.de/dotAsset/8949.png" alt=""> 

				<p class="text">
				</p><p>Hallo zusammen,<br><br>im Bereich Media findet ihr den Zeitplan zum 3. Lauf in Aldenhoven.</p>
				<p>Eintritt für jeden ist 20,00€; ProFahrer haben freien Eintritt.<br>Gaststarter willkommen.<br><br>Wir führen den 3. Wertungslauf wieder gemeinsam mit der niederländischen SBO aus.<br>Natürlich gibt’s zum Abschluss auch wieder das spannende Shoot-Out-Final DSSC vs. SBO<br><br>Mit sportlichem Gruß<br>Euer DSSC-Team</p>
				<p><br>&nbsp;

				</p>

			</li>





















			<li>
				<h3>Zeitplan 1. DSSC Lauf Meinerzhagen</h3>
				<p class="date">27.03.2014 / 08:20 Uhr</p>
				<img class="newsimage" width="200" src="http://cms.dssc.de/dotAsset/8949.png" alt=""> 

				<p class="text">
				</p><p>Hallo zusammen,<br><br>im Bereich Media findet ihr den Zeitplan zum Saisonstart in Meinerzhagen.<br>Mit dabei natürlich auch wieder der kostenlose Scooter-Attack P4 Leistungsprüfstand.<br>Gaststarter und neue Gesichter im DSSC sind herzlich willkommen!<br><br>Der Eintritt kostet 20,00€<br>DSSC ProFahrer haben freien Eintritt. <br>Beitragszahlungen können noch bis einschließlich Dienstag, den 22.04.2014 registriert werden.<br><br>Anmeldung auf www.dssc.de</p>
				<p>Mit sportlichem Gruß<br>Euer DSSC Team</p>
				<p></p>

			</li>





















			<li>
				<h3>DSSC-Termine 2014 – Anmeldung ab sofort möglich</h3>
				<p class="date">11.12.2013 / 12:19 Uhr</p>
				<img class="newsimage" width="200" src="http://cms.dssc.de/dotAsset/8949.png" alt=""> 

				<p class="text">
				</p><p>Die DSSC-Termine für die Saison sind gesichert, und wir freuen uns, euch wieder einiges bieten zu können. Neben altbewährten Locations können wir im nächsten Jahr z.B. auch auf der neuen Strecke im Norden, dem Flugplatz Damme, richtig durchstarten.<br>Genaue Infos zu den Rennläufen bekommt ihr jeweils zeitnah vor der jeweiligen Veranstaltung.<br>Unsere Sportordnung bleibt komplett bestehen und hat keinerlei Änderungen erfahren.<br>&nbsp;<br>Die Anmeldung für 2014 ist ab sofort möglich!</p>
				<p>&nbsp;</p>
				<p><img title="Events 2014" alt="Events 2014" src="http://cms.dssc.de/dotAsset/9689.jpg" height="847" width="400"></p>
				<p></p>

			</li>





















			<li>
				<h3>DSSC Season End</h3>
				<p class="date">06.08.2013 / 03:36 Uhr</p>
				<img class="newsimage" width="200" src="http://cms.dssc.de/dotAsset/8949.png" alt=""> 

				<p class="text">
				</p><p><img title="Season End" alt="Season End" src="http://cms.dssc.de/dotAsset/9652.jpg" height="847" width="400"></p>
				<p><img title="Season End 2" alt="Season End 2" src="http://cms.dssc.de/dotAsset/9654.jpg" height="847" width="400"></p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p></p>

			</li>





















			<li>
				<h3>Trainingszeiten Donnerstag und Freitag in Eisenach</h3>
				<p class="date">04.06.2013 / 02:09 Uhr</p>
				<img class="newsimage" width="200" src="http://cms.dssc.de/dotAsset/8949.png" alt=""> 

				<p class="text">
				</p><p>Hallo DSSC Fahrer,</p>
				<p>Unter Media stehen euch nun auch die Trainingszeiten Donnerstag und Freitag aus Eisenach zur Verfügung.</p>
				<p>Mit sportlichem Gruß<br>Euer DSSC Team<br></p>
				<p></p>

			</li>





















			<li>
				<h3>3. Lauf in Aldenhoven</h3>
				<p class="date">04.06.2013 / 10:50 Uhr</p>
				<img class="newsimage" width="200" src="http://cms.dssc.de/dotAsset/8949.png" alt=""> 

				<p class="text">
				</p><p>Hallo zusammen,<br>&nbsp;<br>Im Bereich Media findet ihr den Zeitplan zum nächsten Lauf in Aldenhoven.<br>Wir werden unseren Lauf diese Mal gemeinsam mit der SBO ausfahren. Im Grunde genau so, wie wir es immer zu Gast bei der SBO gemacht haben, nur dieses Mal bei uns in Deutschland.<br>Natürlich wieder mit Shoot Out Final DSSC vs. SBO<br>&nbsp;<br>Eintritt für jeden 20€, ausgenommen ProFahrer<br>&nbsp;<br>Wir sehen uns in Aldenhoven!<br>&nbsp;<br>Mit sportlichem Gruß<br>Euer DSSC Team</p>
				<p></p>

			</li>





















			<li>
				<h3>2. Lauf bei den German Race Wars</h3>
				<p class="date">24.04.2013 / 11:32 Uhr</p>
				<img class="newsimage" width="200" src="http://cms.dssc.de/dotAsset/8949.png" alt=""> 

				<p class="text">
				</p><p>&nbsp;<br>Hallo DSSC-Fahrer,<br>&nbsp;<br>der Zeitplan für unseren Lauf auf den German Racewars steht nun für euch unter Media bereit.<br>Umfassende Informationen findet ihr wie immer im Forum:<br><a href="http://www.scootertuning.de/dssc/556913-2-dssc-lauf-german-racewars-09-12-05-2013-a-2.html#post4220332" title="Forum">http://www.scootertuning.de/dssc/556913-2-dssc-lauf-german-racewars-09-12-05-2013-a-2.html#post4220332</a><br>&nbsp;<br>&nbsp;<br>Achtung ProFahrer:<br>&nbsp;<br>Beiträge können nur noch bis Freitag 26.04.2013 verbucht werden. Eure Zahlung muss also bis Freitag eingehen, um wie gewohnt freien Eintritt zu erhalten.</p>
				<p>Mit sportlichem Gruß<br>Euer DSSC-Team</p>
				<p></p>

			</li>





















			<li>
				<h3>Zeitplan 1. Lauf Saarbrücken</h3>
				<p class="date">16.04.2013 / 08:37 Uhr</p>
				<img class="newsimage" width="200" src="http://cms.dssc.de/dotAsset/8949.png" alt=""> 

				<p class="text">
				</p><p>&nbsp;</p>
				<p>Hallo DSSC Fahrer,</p>
				<p>&nbsp;</p>
				<p>unter Media steht nun für euch der Zeitplan für kommenden Samstag, den 20.04.2013, bereit.</p>
				<p>Wir freuen uns auf Euch.</p>
				<p>&nbsp;</p>
				<p>Mit sportlichen Grüßen</p>
				<p>Euer DSSC Team</p>
				<div><br></div>
				<p>&nbsp;</p>
				<p></p>

			</li>





















			<li>
				<h3>Streckenverlegung beim Saisonstart in Saarbrücken</h3>
				<p class="date">09.04.2013 / 02:09 Uhr</p>
				<img class="newsimage" width="200" src="http://cms.dssc.de/dotAsset/8949.png" alt=""> 

				<p class="text">
				</p><p>Hallo DSSC-Fahrerinnen und -Fahrer,<br>&nbsp; <br>Wir müssen euch leider bekannt geben, dass uns auf Grund von langjährigen Anwohner-Beschwerden die zuständigen Stellen die Genehmigung auf unserer Hausstrecke, Saar-Lor-Lux-Straße, entzogen haben. Wir haben bis zum Letzten alles versucht, den Saisonauftakt wie immer austragen zu können. Leider sind uns aber nun die Hände gebunden.<br>Das trifft uns als Verein genauso hart wie euch als Fahrer und Besucher.<br>&nbsp;<br>Da wir aber unmöglich auf unseren Termin verzichten können, haben wir eine Alternativstrecke erwirkt. Diese befindet sich nur 3km von der alten Strecke und dem Scooter-Attack Store&amp;Showroom entfernt, Parkplatz Heinrich-Barth-Straße, 66115 Saarbrücken.<br>Unter folgendem Link könnt ihr die Adresse einsehen: http://goo.gl/maps/e1kHp<br>&nbsp;<br>Auf Grund der neuen Gegebenheiten und der unzureichenden Länge des Parkplatzes müssen wir auf verkürzter Distanz von 50m starten.<br>Alles andere wird wie gewohnt stattfinden und ablaufen.<br>Eintritt frei<br>Scooter-Attack P4 Prüfstand<br>Scooter-Attack Store&amp;Showroom von 10:00 – 17:00Uhr geöffnet<br>Gaststarter herzlich willkommen<br>&nbsp;<br>Wir hoffen, Euch alle zahlreich zum Saisonstart in Saarbrücken wiederzusehen und neue Gesichter begrüßen zu dürfen.<br>&nbsp;<br>&nbsp;<br>Mit sportlichem Gruß<br>Euer DSSC Team</p>
				<p>&nbsp;</p>
				<p><img title="Streckenverlegung 20.04.13" alt="Streckenverlegung 20.04.13" width="400" src="http://cms.dssc.de/dotAsset/9578.jpg"></p>
				<p></p>

			</li>





















			<li>
				<h3>Anmeldung eröffnet!</h3>
				<p class="date">25.02.2013 / 11:55 Uhr</p>
				<img class="newsimage" width="200" src="http://cms.dssc.de/dotAsset/8968.png" alt=""> 

				<p class="text">
				</p><p>Die Anmeldung für die Saison 2013 ist hiermit eröffnet! Einfach links  oben auf „Registrier dich jetzt!“ klicken und den Fragebogen ausfüllen!</p>
				<p></p>

			</li>





		</ul>
		<div class="clear">
		</div>
	</div>



</div>