{{> navigation}}

<div class="container">
	<h2>Ablauf</h2>
	<div class="jumbotron">











		<h2>Rennablauf</h2>
		<p>Anhand der Animation und der Erläuterung kannst du den Ablauf des Ampelstarts sehen.</p>
		<p class="desc">Regulärer Start</p>
		<p>Der Fahrer fährt vor, bis erst das obere, dann das untere Lichterpaar leuchtet. Der Roller steht also sauber im Startfenster. Nach 3 Sekunden schaltet die Ampel automatisch auf die Startsequenz. Erst leuchtet ein gelbes Licht, dann leuchten zwei und dann drei gelbe Lichter; dann wird die Ampel grün und der Fahrer fährt los.</p>
		<p>Tipp: Es zahlt sich aus, die Ampel zu beobachten und sich den Rhythmus der Schaltung einzuprägen.</p>
		<p class="desc">Fahrer rollt über Startlinie</p>
		<p>Der Fahrer fährt vor; das erste Licht geht an, dann das zweite. Allerdings ist das erste Licht wieder aus, das heißt, der Fahrer ist zu weit vor gerollt. Also zurück, bis beide Lichter brennen, dann schaltet die Ampel, wie oben, nach 3 Sekunden auf die Startsequenz und ab geht’s.</p>
		<p class="desc">Fehlstart</p>
		<p>Hier wird der normale Startablauf gezeigt, nur das am Schluss anstelle einer grünen Lampe eine rote brennt. Das bedeutet, dass der Fahrer einen Fehlstart hingelegt hat, also einfach losgefahren ist, bevor die Ampel auf Grün gesprungen war. Kommt vor, sollte aber nicht die Regel sein.</p>
		<h2>Ablauf der <span>technischen Abnahme und Anmeldung</span></h2>
		<p>Die Nennung erfolgt vor Ort. Zu Veranstaltungsbeginn sucht der Fahrer mit seinem Prüfbogen/seiner Verzichtserklärung die technische Abnahme auf. Nach erfolgreicher technischer Abnahme erhält der Fahrer für Fahrzeug und Schutzkleidung eine Abnahmebestätigung auf seinem Prüfbogen. Mit diesem Bogen ist eine Rennanmeldung möglich. Nach erfolgter Anmeldung erhält der Fahrer sein Barcode-Etikett. Das Etikett mit dem Barcode ist so am Heck des Fahrzeuges anzubringen, dass es von einem Helfer am Start mit einem Handscanner abgescannt werden kann. Die Stelle sollte gut sichtbar und geschützt vor eventuell austretenden Flüssigkeiten sein. Die Etikette für DSSC-Fördermitglieder werden bei jeder Veranstaltung nach erfolgreicher technischer Abnahme neu ausgegeben. Ersatzetikette können an der Rennanmeldung abgeholt werden.</p>

    </div>
</div>
