{{> navigation}}
<div class="container">
	<h2>Regeln</h2>
	<div class="jumbotron">












		<h2>DSSC Sportordnung 2012</h2>
		<h3>1. Allgemeine Bestimmungen</h3>
		<p>1. Allgemeine Bestimmungen
			Das DSSC e.V. veranstaltet Vergleichsfahrten mit Zeitmessung über die Distanz von 150 m auf dafür geeigneten Strecken. Je nach Gegebenheiten vor Ort ist eine Verkürzung der Strecke auf 50 m
			möglich. Es wird gegen einen Zeitindex von 5,50 Sekunden (150 m) bzw. 2,50 Sekunden (50 m) gefahren. Klassenspezifische Indexzeiten sind unter „15. Klasseneinteilung“ aufgeführt. Dies bedeutet ein möglichst genaues Erreichen der anvisierten Indexzeit. Die Vergleichsfahrten werden ausschließlich nach der Sportordnung des DSSC e.V. ausgetragen.</p>
		<h3>2. Fahrzeuge</h3>
		<p>Zu den Starts werden nur einspurige Fahrzeuge zugelassen, die der Sportordnung, insbesondere der Klassendefinitionen, entsprechen. Ausnahmen hiervon bestimmt die Rennleitung nur schriftlich.</p>
		<p>FolgendeBedingungen müssen teilnehmende Fahrzeuge erfüllen:</p>
		<ul class="craftrules">
			<li>Es muss ein Schalldruckpegel von 94 dB eingehalten werden, der in 3 m Entfernung 50 cm über dem Boden und dem Abgasaustritt zugewandt gemessen wird.</li>
			<li>Das Fahrzeug muss so gut wie möglich geräuschgedämmt werden.</li>
			<li>Öleinlass- und -ablassschrauben sowie Schrauben von Bremszangen und Gestänge sind mit Zwirbeldraht zu sichern.</li>
			<li>Es sind geeignete Treibstoffbehälter zu verbauen, die zudem sicher befestigt werden müssen.</li>
			<li>Alle Flüssigkeiten, die nach außen gelangen könnten, müssen mit einem Überlaufbehälter gesichert werden (z. B. Kühler, Vergaser, Tank).</li>
			<li>Fahrzeuge müssen eine Fußablage aufweisen, sodass die Füße während eines Laufs nicht frei in der Luft hängen. Bei Fahrzeugen, an denen die Fußrasten zusätzlich angebracht sind (z. B. Eigenbauten, Leitern, Dragstern), müssen diese vollständig klappbar sein.</li>
			<li>Das Fahrzeug muss über zwei unabhängig voneinander wirkende Bremsen verfügen.</li>
			<li>Alle Teile am Fahrzeug sind sicher zu befestigen.</li>
			<li>Alle sich drehenden Motorteile (Zündung, Variomatiktrieb) müssen ordnungsgemäß abgedeckt sein und dürfen nicht hintergriffen werden können. Nicht geeignete Materialien sind u. a. Papier, Klebeband und Kunststoffe, die zur Splitterbildung neigen. Öffnungen in Abdeckungen dürfen unabhängig von der Form an dem größten zu messenden Maß 12 mm nicht überschreiten. Ausnahmen bilden möglichst genaue Öffnungen für externe Starter sowie werkseitige Lüftungsöffnungen; entfällt der werkseitige E-Starter, muss die Öffnung nicht verschlossen werden.</li>
			<li>Es dürfen keine gefährlichen Gegenstände (die z. B. spitz sind oder herausragen) am Fahrzeug montiert sein.</li>
			<li>Lachgasflaschen müssen geschützt innerhalb der Rahmenkonstruktion angebracht sein.</li>
			<li>Der Gasdrehgriff muss beim Loslassen wieder in seine Ausgangsposition zurückgehen.</li>
			<li>Die Lenkerenden müssen verschlossen sein (z.B. durch Griffe).</li>
			<li>Die Mindestbodenfreiheit beträgt 30 mm, mit Ausnahme der Auspuffkrümmer.</li>
			<li>Als Kühlflüssigkeit darf nur reines Wasser verwendet werden.</li>
			<li>Am Fahrzeug muss ein funktionstüchtiger Zündunterbrecher (Killswitch) vorhanden sein.</li>
			<li>Die Mindesthöhe der Reifenflanke beträgt 100 mm, da Zeitmessungen andernfalls fehlerhaft sein können.</li>
			<li>Die Treibstoffwahl ist freigestellt. Sollten nicht tankstellenübliche Treibstoffe genutzt werden, ist dies aus Sicherheitsgründen der technischen Abnahme mitzuteilen.</li>
		</ul>
		<h3>3. Technische Abnahme</h3>
		<p>Vor jedem Rennen wird eine technische Abnahme durchgeführt, die 2 Stunden vor Rennbeginn anfängt und bis zur Mittagspause geht. Alle Fahrer haben sich in dieser Zeit bei der technischen Abnahme (TA) einzufinden. Sollten unsere Mitarbeiter etwas zu bemängeln haben, muss die entsprechende Änderung ohne Diskussion durchgeführt werden. Ohne erfolgreiche technische Abnahme kann nicht gestartet werden.</p>
		<p>Allgemein führt die TA nur eine Sichtprüfung durch und haftet nicht für konstruktionsbedingte oder durch Vorschäden behaftete Sicherheitsmängel an Fahrzeug und Schutzkleidung. Dennoch behält sich die TA vor, Fahrzeuge vom Wettbewerb auszuschließen, die augenscheinlich nicht sicher sind. Die Verantwortung für den Zustand der Fahrzeuge und der Schutzkleidung liegt allein bei den Haltern und Fahrern und nicht bei den zur TA berechtigten Personen oder dem DSSC e.V.</p>
		<p>Um die Sicherheit zu verbessern, muss der Fahrer seine DSSC-Nummer gut sichtbar auf seinem Helm anbringen (möglichst als beständiger Aufkleber; Edding-Beschriftungen o. Ä. sind zu vermeiden). Der Helm ist nur einem Fahrer zugeordnet und darf zwecks eindeutiger Fahreridentifikation nicht von einem anderen Fahrer getragen werden.</p>
		<p>Zusätzlich können stichprobenartige Abnahmen durchgeführt werden zur Kontrolle der Einhaltung bestehender Regeln sowie bei Protest durch einen anderen Fahrer. Der für das Fahrzeug Verantwortliche hat bei einer Motorprüfung selbst, vor den Augen der technischen Abnahme, für die Demontage zu sorgen. Eventuelle Schäden, Dichtungen, Dichtmittel, Betriebsflüssigkeiten, Lager, Werkzeug sowie sonstige Aufwendungen werden vom DSSC nicht ersetzt bzw. gestellt und müssen selbst getragen werden.</p>
		<p>Bei Nicht-Einhaltung der Sportordnung kann der Start verweigert und der Fahrer disqualifiziert bzw. von weiteren Rennen ausgeschlossen werden.</p>
		<h3>4. Fahrer</h3>
		<p>Alle DSSC-Fahrer, mit Ausnahme der Starter in der Klasse „Clubsport“, verpflichten sich zum Tragen von Motorradschutzbekleidung (z. B. Lederkombi), Integralhelm, Handschuhen und Schuhwerk, das über die Knöchel reicht. Die Verwendung eines Rückenprotektors wird ausdrücklich empfohlen. Die Schutzbekleidung ist Bestandteil der technischen Abnahme.</p>
		<p>Der Fahrer muss fahrtauglich sein und in der Lage, die Kontrolle über das Fahrzeug zu halten. Das Mindestalter für die Teilnahme ist 14 Jahre. Fahrer, die das 18. Lebensjahr noch nicht vollendet haben, müssen die unter<i>http://cms.dssc.de/media_files/Verzichtserklaerung_DE-2011.pdf</i>verfügbare Verzichtserklärung von einem Erziehungsberechtigten unterschreiben lassen und sie bei der Nennung vorlegen. Eine Ausnahme der Mindestalter-Regelung ist dann möglich, wenn mindestens ein Erziehungsberechtigter vor Ort ist und sein Einverständnis schriftlich erbringt.</p>
		<p>Fahrern ohne ausreichende Sicherheitsbekleidung und offensichtlich nicht fahrtauglichen Fahrern wird der Start verweigert. Das Fahren unter Alkohol- und Drogeneinfluss ist untersagt.</p>
		<p>Jeder Fahrer muss auf Verlangen sein Alter mittels Lichtbildausweis belegen können.</p>
		<h3>5. Förder-Mitgliedschaft</h3>
		<p>Die Antragstellung auf eine befristete Fördermitgliedschaft ist online auf der Website <i>http://www.dssc.de</i> möglich. Der Antrag gilt mit dem Erhalt des DSSC-Ausweises durch das Fördermitglied als vom Verein angenommen. Starter ohne Fördermitgliedschaft (Tagesstarter/Gaststarter) können ausschließlich in der Clubsport-Klasse teilnehmen.</p>
		<h4>Fahrer &amp; Pro-Fahrer</h4>
		<p>DSSC-Fahrer erhalten eine DSSC-Fördermitgliedskarte, die ihnen beim Kauf einer Stage6-Racing- Lederkombi bei der Scooter-Attack GmbH einen 15%igen Rabatt auf den Endverbraucher- Katalogpreis einräumt. Außerdem erhalten DSSC-Fahrer günstigere Konditionen bei den Startgebühren und es wird ihnen ermöglicht, alle gefahrenen Zeiten online einzusehen. Weiterhin erhalten DSSC-Fahrer im scootertuning.de-Forum den Rang „DSSC-Fahrer“ und den Zugriff auf ein geschütztes, internes DSSC-Forum. DSSC-Fahrer erhalten bei Erfolg sowohl Tages- wie auch Jahrespokale vor Ort bei der Siegerehrung überreicht. Sollte an der Siegerehrung nicht teilgenommen werden, verfällt der Anspruch auf einen Pokal.</p>
		<p>Die DSSC-Fördermitgliedskarte kostet jährlich einmalig 25,00 Euro. Für die Teilnahme an DSSC- Wertungsläufen ist es ggf. erforderlich, Eintritt auf Veranstaltungen zu entrichten. Die Startgebühr vor Ort beträgt 5,00 Euro; für jedes weitere Fahrzeug bzw. jede weitere Klasse müssen zusätzlich 5,00 Euro entrichtet werden.</p>
		<h4>Pro-Fahrer</h4>
		<p>DSSC-Pro-Fahrertypen erhalten eine „DSSC-Pro-Fahrer-Karte“, die freien Eintritt auf allen DSSC- Veranstaltungen ermöglicht sowie die direkte technische Abnahme ohne vorhergehende Anmeldung. DSSC-Pro-Fahrer erhalten als Bonus jährlich ein DSSC-Merchandise-Paket sowie zusätzlich ein exklusives DSSC-Pro-Fahrer-T-Shirt. Sie erhalten beim Kauf einer Stage6-Racing-Lederkombi bei der Scooter-Attack GmbH 25% Rabatt auf den Endverbraucher-Katalogpreis. Für sie sind genaue Statistiken und Zeiten jederzeit online einsehbar und mit den Zeiten anderer Veranstaltungen direkt online vergleichbar. Zusätzlich wird der Rang „DSSC-Pro-Fahrer“ im scootertuning.de-Forum zugewiesen, der einen klaren öffentlichen Auftritt als Pro-Fahrer garantiert. Außerdem erhalten DSSC- Pro-Fahrer Zugriff auf ein geschütztes internes DSSC-Forum. DSSC-Pro-Fahrer erhalten bei Erfolg sowohl Tages- wie auch Jahrespokale vor Ort bei der Siegerehrung überreicht. Sollte an der Siegerehrung nicht teilgenommen werden, verfällt der Anspruch auf einen Pokal. DSSC-Pro-Fahrer sind im Rahmen ihres Fahrertyps dazu angehalten, an allen Veranstaltungen teilzunehmen. Die Aufschaltung des DSSC-Pro-Fahrertyps kostet jährlich einmalig 150,00 Euro. Die Erweiterung je Fahrzeug und Klasse kostet zusätzlich 20,00 Euro für 1 Jahr.</p>
		<p>Die Fördermitgliedschaft endet mit dem Kalenderjahr. Für die Teilnahme in der folgenden Saison ist eine Neuanmeldung erforderlich.</p>
		<h3>6. Nennung</h3>
		<p>Es ist gestattet, dass maximal zwei Fahrer ein Fahrzeug nutzen, wobei sie sich aber getrennt anmelden müssen und nur der schnellere Fahrer in die Wertung eingeht. Das Fahrzeug ist klassengebunden und darf nur in der einen zulässigen Klasse starten. Ausnahme bildet die Klasse „Clubsport“. Es erfolgt nur die Meldung des Fahrers. Jeder eingeschriebene Fahrer kann durch eine neue Nennung als Tagesfahrer in der Klasse „Clubsport“ fahren.</p>
		<p>Vorrangig startberechtigt sind DSSC-Fördermitglieder in der/n jeweiligen Klasse(n) ihres/r Fahrzeuge(s).</p>
		<p>Tagesfahrer müssen vor Ort zusätzlich zu dem ggf. anfallenden Eintritt zur Veranstaltung 15,00 Euro Startgebühr entrichten. Für jedes weitere Fahrzeug bzw. jede weitere Klasse fallen 15,00 Euro Startgebühr zusätzlich an. Die DSSC-Ausweise sind nicht auf andere Personen übertragbar. Startet eine andere Person mit dem Ausweis eines DSSC-Fördermitgliedes, wird der Inhaber des Ausweises für die gesamte Saison disqualifiziert und fällt aus der Wertung. Der Verlust eines Fördermitgliedsausweises muss unverzüglich dem DSSC e.V. gemeldet werden, um Missbrauch vorzubeugen. Der DSSC-Ausweis ist bei der Nennung mitzuführen und für einen schnellen Ablauf vorzuzeigen.</p>
		<p>Nach erfolgreicher technischer Abnahme erhält der Fahrer für Fahrzeug sowie Schutzkleidung eine Abnahmebestätigung auf seinem Prüfbogen. Mit diesem Bogen ist eine Rennanmeldung möglich. Nach erfolgter Anmeldung erhält der Fahrer sein Barcode-Etikett. Das Etikett mit dem Barcode ist so am Heck des Fahrzeuges anzubringen, dass es von einem Helfer am Start mit einem Handscanner abgescannt werden kann. Die Stelle sollte gut sichtbar sowie geschützt vor eventuell austretenden Flüssigkeiten liegen. Die Etiketten für DSSC-Fördermitglieder werden bei jeder Veranstaltung nach erfolgreicher technischer Abnahme neu ausgegeben. Ersatzetikette können an der Rennanmeldung abgeholt werden.</p>
		<p>Eine bei der Anmeldung falsch angegebene Klasse führt zum Ausschluss aus der Tageswertung. Daraus resultierend fließen Punkte, die bei der betreffenden Veranstaltung erworben wurden, nicht in die Gesamtwertung ein.</p>
		<h3>7. Verzichtserklärung</h3>
		<p>Jeder Fahrer muss eine unterschriebene Verzichtserklärung einreichen. Bei minderjährigen Fahrern ist die Unterschrift eines Erziehungsberechtigten erforderlich. Zur Ermittlung des Alters muss jeder Fahrer sicherstellen, sein Alter mittels Personalausweis, Führerschein, Kinderausweis oder Reisepass vor Ort belegen zu können. Die Aushändigung von Start-Etiketten und somit der Start werden ohne zweifelsfrei gültige, unterschriebene Verzichtserklärung verweigert.</p>
		<h3>8. Fahrregeln</h3>
		<p>Wenn es organisatorisch möglich ist, starten die Fahrer klassenweise, ansonsten gemischt. Jeder Fahrer hat pro Wertungslauf und Klasse bis zu fünf Starts zur Verfügung. Wird klassenweise gestartet, muss er seine Starts im vorab bekannt gegebenen Zeitfenster für seine Klasse wahrnehmen. Fehlstarts und Fahrtabbrüche werden mitgezählt.</p>
		<p>Nach Ende der Wertungsläufe wird ein Shoot-Out-Finale unter den 8 besten (Gesamtzeit) Erstplatzierten aller Klassen ausgetragen. Falls einer oder mehrere der Fahrer nicht am Shoot-out- Finale teilnehmen können, werden die Teilnehmer durch den/die nächstschnelleren Erstplatzierten aufgefüllt. Alle Klassensieger haben sich für das Finale bereitzuhalten. Die 8 Besten werden per Aushang an der Rennleitung bekannt gegeben. Die Fahrer treten im Turniersystem gegeneinander an. Der Gewinner kommt eine Runde weiter. Die jeweiligen Gegner werden ausgelost. Allen Fahrern steht je Shoot-Out-Lauf nur ein Versuch zu. Ein Fehlstart wird als Versuch gewertet, der jeweilige Fahrer scheidet somit aus dem Turnier aus. Sollten beide Fahrer einen Fehlstart machen, wird der Lauf wiederholt. Die Fahrer haben selbständig dafür Sorge zu tragen, am Start anwesend zu sein. Wer an der Teilnahme am Shoot-Out-Finale verhindert ist (z.B. Motorendefekt), hat dies unverzüglich den Verantwortlichen mitzuteilen. Wer nicht rechtzeitig am Start anwesend ist, wird vom Shoot-Out-Finale ausgeschlossen, und der Gegner startet alleine. Im Shoot-Out-Finale ist jedes Fahrzeug und jeder Fahrer nur 1x zulässig. Das Shoot-Out-Finale hat keinen Einfluss auf die Jahreswertung. Der Gewinner erhält einen Pokal.</p>
		<p>Der Start erfolgt stehend und über die Signale einer Ampelanlage. Die Ermittlung der Reaktionszeit bzw. eines Fehlstarts erfolgt über Lichtschranken am Start. Am Ziel befinden sich zwei Lichtschranken. Erst die hinterste Lichtschranke ermittelt die Gesamtzeit.</p>
		<p>Es starten zwei Fahrer gleichzeitig, die auf parallelen Streckenhälften bis zum Ende der Strecke fahren. Jeder Fahrer muss mit seinem Fahrzeug auf der Hälfte der Strecke bleiben, auf der er gestartet ist, da sonst keine Messung stattfinden kann. Die Trennung der Streckenhälften wird durch eine mittige Begrenzung (Kabel, Band etc.) durchgeführt. Überfährt ein Fahrer die Begrenzung und behindert somit den anderen Starter, kann der Lauf annulliert werden. Dem Fahrer, der seine Bahn verlassen hat, wird die gefahrene Zeit aberkannt und der Lauf als Fehlstart gewertet. Dem anderen Fahrer wird der Lauf nicht gewertet und ein Ersatzlauf ermöglicht.</p>
		<p>Im Fahrerlager ist eine benzinresistente und undurchlässige Unterlage Pflicht. Burnouts sind nur auf dafür ausgeschriebenen Flächen erlaubt.</p>
		<h3>9. Tageswertung</h3>
		<p>In die Tageswertung fließen jeweils die besten Ergebnisse aller am Renntag gestarteten Fahrer ein. Die Unterteilung erfolgt klassenweise, getrennt nach Unterklassen. Die Ermittlung der Platzierung erfolgt über die kürzeste Gesamtzeit der Fahrer. Sollte die gefahrene Bestzeit von zwei oder mehr Fahrern in den Punkterängen der Gesamtwertung oder unter den ersten 15 Plätzen der Tageswertung identisch sein, erhält der Fahrer die bessere Platzierung, der die Zeit zuerst aufgestellt hat. Stellen zwei gegeneinander fahrende Fahrer eine identische Zeit auf, zählt die zweitbeste Zeit.</p>
		<h3>10. Wertung DSSC-Fördermitglieder</h3>
		<p>Die Jahreswertung ergibt sich aus der Punktzahl der DSSC-Fördermitglieder in der Tageswertung. Je nach Platzierung werden dabei unten stehende Punktzahlen vergeben. Eine Übertragung der Punkte auf einen anderen Fahrer oder in eine andere Klasse ist nicht möglich.</p>
		<h4>Punkte nach Platzierung</h4>
		<ol class="craftrules">
			<li>Platz <span>...  25 Punkte</span></li>
			<li>Platz <span>...  20 Punkte</span></li>
			<li>Platz <span>...  16 Punkte</span></li>
			<li>Platz <span>...  13 Punkte</span></li>
			<li>Platz <span>...  11 Punkte</span></li>
			<li>Platz <span>...  10 Punkte</span></li>
			<li>Platz <span>...  9 Punkte</span></li>
			<li>Platz <span>...  8 Punkte</span></li>
			<li>Platz <span>...  7 Punkte</span></li>
			<li>Platz <span>...  6 Punkte</span></li>
			<li>Platz <span>...  5 Punkte</span></li>
			<li>Platz <span>...  4 Punkte</span></li>
			<li>Platz <span>...  3 Punkte</span></li>
			<li>Platz <span>...  2 Punkte</span></li>
			<li>Platz <span>...  1 Punkte</span></li>
		</ol>
		<p>Vor dem Beginn der Saison gibt der DSSC e.V. die voraussichtliche Anzahl von Läufen inkl. der voraussichtlichen Sprint-Distanz bekannt sowie die voraussichtliche Anzahl von Streichergebnissen. Die übliche Sprintdistanz beträgt 150m und die Anzahl der Streichergebnisse 0.
			Streichergebnisse können auch während der laufenden Saison bekannt gegeben werden, wenn z.B. ein Wertungslauf auf Grund höherer Gewalt nicht ausgetragen werden kann. Streichergebnisse fließen nicht in die Gesamtwertung ein. Aus der Anzahl der Läufe abzüglich der Anzahl der Streichergebnisse ergibt sich die Anzahl der Ergebnisse, die in die Gesamtwertung einfließen. Rennen, an denen ein Fahrer nicht teilgenommen hat, werden mit 0 Punkten gewertet. Die jeweils schlechtesten Punkte-Ergebnisse werden gestrichen.</p>
		<p>Saison-Gewinner ist derjenige mit der höchsten Punktzahl nach allen Wertungsläufen und Korrekturen. Bei identischer Punktzahl entscheidet die beste bei einem Wertungslauf gefahrene Gesamtzeit (also Reaktions- und Fahrzeit).</p>
		<h3>11. Protest</h3>
		<p>Bei dem Verdacht, dass ein anderer Fahrer gegen die Sportordnung verstößt, hat jedes DSSC- Fördermitglied und jeder Tagesfahrer die Möglichkeit, beim Verein seinen Protest anzumelden. Das Einreichen des Protests ist mit der Zahlung einer Kaution in Höhe von 50,00 Euro verbunden. Erweist sich der Verdacht als richtig, erhält der Protestführer die Kaution zurück. Wird der Verdacht nicht bestätigt, verbleibt die Kaution als Aufwandsentschädigung beim DSSC e.V. Ein Protest muss bis spätestens 30 Minuten nach Rennende angemeldet werden. Ein Protest gilt mit der Abgabe des schriftlichen Protests als angemeldet.</p>
		<h3>12. Saison</h3>
		<p>Die Saison beginnt mit dem ersten und endet mit dem letzten Wertungslauf. Die Ehrung der Saisonsieger findet unmittelbar nach dem letzten Wertungslauf vor Ort statt, sofern nicht anders vom DSSC e.V. bekanntgegeben.</p>
		<h3>13. Witterungsbedingungen / Äußere Einflüsse</h3>
		<p>Zur Austragung eines sicheren und fairen Wettkampfes ist eine trockene und saubere Strecke notwendig. Der DSSC e.V. behält sich das Recht vor, einen Lauf aufgrund der Witterungsbedingungen oder anderer äußerer Einflüsse vor Ort abzusagen bzw. abzubrechen. Der DSSC e.V. behält sich außerdem das Recht vor, eine Veranstaltung aufgrund zu erwartender, widriger Witterungsbedingungen vorzeitig abzusagen.</p>
		<h3>14. Disqualifikation / Nichtzulassung zum Start</h3>
		<p>Bei Disqualifikation oder Nichtzulassung zum Start vor Ort ist eine Erstattung des Startgeldes bzw. des Fördermitgliedsbeitrages ausgeschlossen, wenn sich die Disqualifikation bzw. die Nichtzulassung zum Start auf die Sportordnung beruft.</p>
		<h3>15. Klasseneinteilung</h3>
		<p>Die Lenkerhöhe hat für Rollerklassen mindestens 750 mm zu betragen; sie wird an der Unterseite des Lenkergriffes gemessen. Ist der Lenkergriff nicht waagerecht angebracht, wird am tiefsten Punkt des Griffes gemessen. Ist kein Griff vorhanden, zählt der niedrigste Punkt (Unterseite) des Lenkers im Griffbereich.</p>
		<p>Fahrzeuge der Roller-Klassen müssen der Silhouette eines Rollers entsprechen. Innen- und Außenverkleidung muss montiert sein.</p>
		<p>Zur eindeutigen Identifizierung dürfen Zylinder äußerlich nicht verändert werden. Von Werk aus angebrachte Seriennummern, Schriftzüge, Logos etc. müssen vollständig erhalten bleiben und dürfen weder entfernt, lackiert oder überfräst noch mit Strahlgut oder Ähnlichem behandelt werden. Ausschließlich auf freien Flächen dürfen Fräsungen angebracht werden.</p>
		<p>Abgeänderte Zylinder, Prototypen, Eigenbauten, Konversionen etc. müssen von der technischen Abnahme abgenommen werden.</p>
		<p>In den Expert-Klassen starten die 3 besten Fahrer der vorangegangenen Saison der jeweiligen Klasse sowie alle bereits in der vergangenen Saison gemeldeten Expert-Fahrer der jeweiligen Klasse. Darüber hinaus ist eine freiwillige Nennung in den Expert-Klassen möglich. Ein Klassenwechsel in der laufenden Saison ist dann jedoch nicht mehr möglich.</p>
		<p>Die genaue Klassenleinteilung findest du hier: <a href="http://cms.dssc.de/m/classes.dot">DSSC Klassen</a></p>
		<h3>16. Ausschlussvorbehalt der Rennleitung</h3>
		<p>Die Rennleitung behält sich das Recht vor, Fahrzeuge, die nicht dem Geist der Veranstaltung entsprechen, ohne Begründung auszuschließen.</p>
		<h3>17. Änderungen</h3>
		<p>Der DSSC e.V. behält sich Änderungen jeglicher Art jederzeit vor. Über Änderungen der Sportordnung werden die Fördermitglieder und Fahrer auf der Website <i>http://www.dssc.de</i> informiert.</p>


    </div>

</div>